/* Fornecedores.css */
.fornecedores-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.fornecedores-container h2 {
    margin-bottom: 20px;
}

.fornecedores-container .btn-primary {
    margin-bottom: 20px;
}

.fornecedores-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    /* Adiciona espaçamento superior à lista */
}

.fornecedor-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.fornecedor-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.fornecedor-info span {
    margin-bottom: 5px;
}

.fornecedor-actions {
    display: flex;
    align-items: center;
}

.modal-body {
    display: flex;
    justify-content: center;
}

.modal-title {
    flex: 1;
    text-align: center;
}

.btn {
    margin-right: 5px;
}